{
    "extends": "airbnb/base",
    "env": {
        "es6": true,
        "browser": true
    },
    "rules": {
      "strict": [0],
      "indent": [2, 2],
      "comma-dangle": [2, "never"],
      "semi": [2, "never"],
      "no-underscore-dangle": 0,
      "no-constant-condition": 0,
      "no-use-before-define": 0,
      "max-len": [2, 120, 4, {"ignoreComments": true}],
      "no-new": 1,
      "prefer-arrow-callback": 1
    }
}
